.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj
# sf- objects resulting from each criterium
*.dbf
*.prj
*.shp*
*.shx
*.cpg
*.sbn
*.sbx
*.sr.lock
# maxent program
*.bat
*.jar
maxent.sh
readme.txt
# dirs to ignore
iii_extend_of_suitable_habitat/env_variables
iii_extend_of_suitable_habitat/occurrences
iii_extend_of_suitable_habitat/Presence
iii_extend_of_suitable_habitat/ensemble_model_results
vi_distinct_genetic_diversity/plink_data
vi_distinct_genetic_diversity/clumpak_data
# ignore test stack
*.tif
# ignore resulting plots
*.pdf
*.jpg
*.pptx

#git rm -rf --cached .