.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj
# sf- objects resulting from each criterium
*.dbf
*.prj
*.shp*
*.shx
*.cpg
*.sbn
*.sbx
*.sr.lock
# maxent program
*.bat
*.jar
maxent.sh
readme.txt
# dirs to ignore
iii_extend_of_suitable_habitat/env_variables
iii_extend_of_suitable_habitat/occurrences
iii_extend_of_suitable_habitat/Presence
iii_extend_of_suitable_habitat/ensemble_model_results
vi_distinct_genetic_diversity/plink_data
vi_distinct_genetic_diversity/clumpak_data
combine_criteria/define_potential_KBAs/KBA_March2025
combine_criteria/define_potential_KBAs/KBA_June2024
# ignore test stack
*.tif
*.zip
# ignore resulting plots
*.pdf
*.jpg
*.pptx
# ignore structure results
*.str*
*.phy

#git rm -rf --cached .